# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Specific intermediate files created by f2pỳ
cflibformodule.c
cflibfor-f2pywrappers2.f90

# Benchs
bench/

# Files output by Gundam by default
.pik
.cnt
.log
.par
.rppi
.dd
.rr
.dr
.wrp
.xis
.wth
.cd
.cr
.pdf

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/


# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Spyder project settings
.spyderproject
.spyproject

